<nav class="navbar navbar-expand-lg navbar-dark bg-dark-2 shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">Imghub</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="post/new">
          <button class="btn btn-success">New Post</button>
        </a></li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li *ngIf="currentUser; else loginRegister" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/user/posts">My Posts</a>
            <a class="dropdown-item" routerLink="/post/new">Add Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item logout-action" (click)="onLogout()">Logout</a>
          </div>
        </li>
        <ng-template #loginRegister>
          <li class="nav-item">
            <a class="text-decoration-none text-white" routerLink="login">Sign In</a>
          </li>
          <li class="nav-item">
            <span class="text-white mr-1 ml-1">/</span>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none text-white" routerLink="register">Register</a>
          <li class="nav-item">
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
