<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <a href="#" class="navbar-brand">Imghub</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#"><button class="btn btn-success">New Post</button></a></li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle">Manage</a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">New Post</a></li>
            <li><a href="#" class="dropdown-item">My Posts</a></li>
            <li><a href="#" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
