<div class="row mb-3">
  <div class="col-lg-2 col-sm-6">
    <select class="custom-select" (change)="sortChangeHandler($event)">
      <option selected disabled>Sort by</option>
      <option value=1>Newest</option>
      <option value=2>Popular</option>
    </select>
  </div>
  <div class="ml-auto col-lg-3 col-sm-6">
    <form class="form-inline d-flex justify-content-end">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             [formControl]="searchKeywordFC">
      <button class="btn btn-success mb-2 my-sm-0" type="submit" (click)="searchHandler()"
              [disabled]="searchKeywordFC.invalid">Search
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-columns">
      <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
    </div>
  </div>
</div>
