<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-5 mt-5">
    <form
      action="#!"
      class="px-4 py-3 bg-dark-2 rounded shadow-sm"
      [formGroup]="postForm"
      (ngSubmit)="onSubmit()">
      <div
        *ngIf="error"
        class="alert mb-3 text-center alert-danger"
        role="alert"
      >
        მოხდა შეცდომა
      </div>
      <div
        *ngIf="uploaded"
        class="alert mb-3 text-success alert-success"
        role="alert"
      >
        პოსტი წარმატებით აიტვირთა
      </div>
      <div class="form-group mb-3">
        <label for="titleForm" class="form-label text-white">Title</label>
        <input type="text" class="form-control" id="titleForm" placeholder="Title" formControlName="title">
      </div>
      <div class="form-group mb-3">
        <label for="tagForm" class="form-label text-white">Tags</label>
        <input type="text" class="form-control" id="tagForm" placeholder='Seperate tags with "," comma' (change)="filterTags($event)">
      </div>
      <label class="form-label text-white">Image</label>
      <div class="custom-file mb-4">
        <input
          type="file"
          class="custom-file-input"
          accept="image/x-png,image/gif,image/jpeg"
          id="fileUpload"
          (change)="selectFile($event)"
        />
        <label class="custom-file-label" style="overflow: hidden" for="fileUpload">{{ selectedFile ? selectedFile.name : "Choose file" }}</label>
      </div>

      <div *ngIf="currentFileUpload" class="progress mb-4">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }"
        >
          {{ percentage }}%
        </div>
      </div>
      <button
        class="btn btn-success"
        [disabled]="!selectedFile"
        type="submit"
      >
        Upload
      </button>
    </form>
  </div>
</div>
